resource_group_name  = "rg-terraform-state"
storage_account_name = "replacewithgloballyuniquename"
container_name       = "tfstate"
key                  = "private-vnet-functions-lab.tfstate"
use_azuread_auth     = true
